
/*Fuentes*/
@font-face{
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/websymbols-regular-webfont.woff') format('woff'),
        url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
}
/*Generales*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img/pattern.png");
}
.wrap{
    width: 1200px;
    margin: 0px auto;
}
.gear,.icono{
    font-family: "WebSymbolsRegular";
}
/*cabecera*/
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "BebasNeue";
    
    
}
#logo{
    float: left;
    width: 200px;
    height: 50px;
    background-color:#37BCF9;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    color: white;
    transition: 300ms;
}
#logo .gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 7px;
    margin-left: 25px;
    font-family: "WebSymbolsRegular";
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);

    }
    to{
        transform: rotateZ(360deg);
    }
}
#logo:hover .gear{
    animation: frontBellow 500ms linear;
}
@keyframes frontBellow{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}
#logo:hover{
    border-radius: 2px;
    background: #ccc;
    color: black;
    

}
#logo h3{
    display: block;
    float:right;
    margin-right: 70px;
    margin-top: 7px;
    transition: all 300ms;
    
}   
#logo:hover h3{
    animation: frontRight 500ms linear;
}
@keyframes frontRight{
    from{
        transform: translateX(300%);
    }
    to{
        transform: translateX(0%);
    }
}

/*Menu*/
#menu{
    float: right;
    height: 70px;
}
#menu ul li{
    display: block;
    float: left;
    
}

#menu ul li a{
    display: block;
    padding: 23px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    transition: 200ms;
    
}
#menu ul li a:hover{
    color: #37BCF9 ;
    transform: scale(1.2,1.2);
}
/*BANNER*/

#banner{
    margin-top: 20px;
    width: 96.5%;
    height: 80px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray; 
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;
    padding: 10px;
    animation: backBanner 20s infinite;    
}
@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    50%{
        background-position: -200px -200px;
    }
    100%{
        background-position: 0px 0px;
    }
}
#banner h1{
    font-family: BebasNeue;
    letter-spacing: 4px;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
}
/*Cards*/
#cards{
    font-family: TrebuchetMS;
    margin-top: 40px;
    
}
.card{
    display: block;
    float: left;
    height: 305px;
    width: 205px;  
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #dddddd;
    overflow: hidden;
    margin: 16px;
    text-align: center;
    transition: all 300ms;
    animation: cardAnimation 300ms linear;
    color: #005399;
    overflow: hidden;
}

.card .titulo{
    font-size: 20px;
    margin-top: 37px;
}
.card:hover .titulo{
    animation: showTitulo 300ms linear;
}
@keyframes showTitulo{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0%);
    }
}
.card:hover .text{
    animation: showText 300ms linear;
}
@keyframes showText{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}   
.card .text{
    font-size: 15px;
    margin: 31px 17px 0px 0px;

}
#gotoblog:hover{
    background-color: white;
    color:#37BCF9;
    border-radius: 100px;
    box-shadow: 0px 0px 30px #37BCF9 inset;
    transform: scale(1.2,1.2); 
}
.card:hover{
    background-color: black;
    color:white;
    box-shadow: 0px 0px 30px white inset;
    transform: scale(1.2,1.2);
}  
@keyframes showText{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0%);
    }
}
.card:hover .icono{
    color: white;
    font-size: 70px;
    animation: shoeIcon 300ms linear;
}
@keyframes shoeIcon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateX(0%);
    }
}
.card .icono{
    color: black;
    font-size: 50px;
    margin-top: 37px;
}
.clearfix{
    float: none;
    clear: both;
}
.articles{
    margin-top: 125px;
    width: 70%;
    float: left;
}
.articles #titulo{
    
    height: 75px;
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-family: BebasNeue;
    font-size: 30px;
    background: url(../img/pxgray.png);
    box-shadow: 3px 3px 3px black;

}
.articles .article,#gotoblog{
    border: 1px solid #CCCCCC;
    
    height: 150px;
    margin-top: 40px; 
    font-family: TrebuchetMS;
}
.article{
    overflow: hidden;
}


.articles .article p{
    margin: 8px;
}

.articles .article span{
    
    float: right;
    line-height: 40px;
    width: 220px;
    height: 40px;
    background-color: #393D3F;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
}
.articles .article h2{
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    width: 30%;
}
#gotoblog h3{
    display: block;
    color: #005399;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: 300ms;
}
#lateral{

    width: 30%;
    margin-top: 106px;
    float: right;
    margin-right: -57px;
    
    
}
#lateral .box{
    height: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    font-family: BebasNeue;

    font-size: 22px;
    background: url(../img/pxgray.png);
    box-shadow: 3px 3px 3px black;
    margin-top: 20px;  
    padding-left: 20px;
}
#lateral .input{
    text-align: center;  
    height: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}
#lateral .input input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.aside-box{
    width: 85%;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),0px 5px 7px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;

}
#lateral #login a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

#lateral input[type="text"],
#lateral input[type="password"]{
    margin: 10px;
    width:90%;
    height: 30px;
    border-radius: 5px;
}
#lateral input[type="submit"]{
    display: block;
    float: left;
    margin: 20px;
    width:100px;
    height: 35px;
    background-color: #37BCF9;
    color: white;
    font-size: 15px;  
}

#social{
    height: 220px;
    width: 75%;
}
#social a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

}
/*Footer*/
#footer {
    float: left;
    width: 100%;
    height: 470px;
    color: white;
    background-color: black;
    overflow: hidden;
    
}
footer .wrap > div{
    float: left;
    width: 23%;
    height: 370px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: TrebuchetMS;
}
footer a{
    text-decoration: none;
    color: #37BCF9;
    transition: all 300ms;

}
#footer h5{
    display: block;
    background: url('../img/pxgray.png'), white;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: BebasNeue;
    font-size: 40px;
    line-height: 55px;
    color: #393D3F;
    border-radius: 5px;
    margin-bottom: 15px;
}
#footer ul{
    text-align: left;
    font-size: 25px;

}
#footer ul li{
    color:black;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
    transform: all 300ms;
}
footer ul li a{
    display: block;
    height: 40px;

}
footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}
#footer img{
    margin-bottom: 15px;

}
#footer #browsers img{

    width: 35px;
}
footer ul li a:hover{

    transform: scale(1.2,1.2);
}

/*fin*/
