*{
  margin: 0px;
  padding: 0px;
  text-decoration: none; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.clearfix{
    float: none;
    clear: both;
}
#menu{
    background: gray;
}
#menu ul li{
    display: block;
    float: left;
    
    border-right: 1px solid #ccc;

}
#menu ul li a{
    padding: 20px;
    color: black;
    display: block;

}
#menu ul li:hover a{
    color: rgb(255, 255, 255);
   
    
}
#menu ul li:hover{
    background: rgb(29, 142, 194);
    cursor: pointer;
}
#header{
    width: 100%;
    height: 100px;
    border: 1 solid ;
    background: rgb(94, 214, 218);
    text-align: center;
    line-height: 90px;
}

#principal{
    background: turquoise;
    width: 250px;
    height: 250px;
}
#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
}
#contenido{
    float: left;
    width: 69%;
    border: 1px solid green;
    
}
#lateral{
    float: left;
    width: 30%;
   
    
    
    
}
#lateral .caja1{
    
    height: 800px;
    overflow: scroll;
    text-align: center;
    
}
#contenido .caja{
    width: 43%;
    height: 150px;
    background: rgb(201, 209, 197);
    text-align: center;
    line-height: 150px;
    float: left;
    text-transform: uppercase;
    margin: 20px;
    box-shadow: 0px 0px 15px black;
    /*border-radius: 50px 50px 50px 50px;*/
}
#footer{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgb(110, 110, 110);
    text-align: center;
}
.libre{
    position: absolute;
    border: 1px solid black;
    background-color: brown;
    color: white;
    width: 50px;
    height: 50px;
    top: 300px;
    left: 50%;
    z-index: 2;
}
.libre2{

    position: absolute;
    border: 1px solid black;
    background-color: rgb(21, 146, 37);
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    top: 280px;
    left: 50%;
    z-index: 1;
}
.fija{
    position: fixed;
    border: 1px solid black;
    background-color: rgb(43, 6, 209);
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    top: 280px;
    

}